<div class="center">
    <div id="logout">
        <button (click)="salir()" title="Desconectar">
          <img src="assets/images/power_off.svg" class="desconectar">
        </button>
    </div>
    <!-- Contenido -->
    <section id="content">
        <h2 class="sub-header">{{title}}</h2>
        <form class="middle-form" #articuloFrom="ngForm" (ngSubmit)="onSubmit(articuloFrom)">
            <div class="form-group">
                <label for="titulo">Titulo: </label>
                <input type="text" name="titulo" #titulo="ngModel" [(ngModel)]="articulo.titulo" required>
                <span *ngIf="!titulo.valid && titulo.touched"> El titulo no es valido. </span>
            </div>
            <div class="form-group">
                <label for="contenido">Contenido: </label>
                <textarea name="contenido" #contenido="ngModel" [(ngModel)]="articulo.contenido" required></textarea>
                <span *ngIf="!contenido.valid && contenido.touched"> El contenido no es valido. </span>
            </div>
            <div class="form-group">
                <!-- <span>Select Image</span> -->
                <!-- <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)"> -->
            </div>

            <!-- Limpiar los float -->
            <div class="clearfix"></div>
            <div class="left"><input type="submit" value="Guardar" class="btn btn-success" [disabled]="articuloFrom.invalid" /></div>
            <div class="right"><a [routerLink]="['/inicio']" class="btn btn-danger"> Cancelar </a></div>

        </form>
    </section>
    <!-- Limpiar los float -->
    <div class="clearfix"></div>
</div>