<footer id="footer">
    <div class="left">
        <p><i>Copyright &copy; - Carlos Mur</i></p>
    </div>
    <div class="right">
        <p><i>Made with:</i>
            <img src="assets/images/html5_logo.png" width="16" height="16" alt="HTML5" title="HTML5">
            <img src="assets/images/css3_logo.png" width="16" height="16" alt="CSS3" title="Css3">
            <img src="assets/images/angular_logo.png" width="16" height="16" alt="Angular" title="Angular">
            <img src="assets/images/firebase_logo.png" width="16" height="16" alt="Firebase" title="Firebase">
            <img src="assets/images/javascript_logo.png" width="16" height="16" alt="JavaScript" title="JavaScript">
        </p>
    </div>
</footer>